<% if @artist %>
  <h1>All Songs for <%=@artist.name %></h1>
<% else %>
  <h1>All Songs</h1>
<% end %>

<% @songs.each do |song| %>
  <ul id="songs">
    <li><%=link_to song.title, song_path(song) %> <span> <%= link_to "Delete", song_path(song), method: "DELETE" %> </span> </li>
  </ul>
<% end %><br/>

<% if @artist %>
  <%= link_to "Back", artist_path(@artist) %>
<% end %> <br/>

<%= link_to "All Artists", artists_path %><br/><br/>
<%= link_to "All Playlists", playlists_path %>
